.main-user-bar{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 10px 0px;
}
.user-avatar-bar{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}