.main{
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.titleRow{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.navigation{
  flex: 1fr;
  position: absolute;
  height: 100vh;
  border-style: solid;
  border-color: black;
  background-color: black;
  
}
.verticalLine {
  width: 2px;
  height: 200vh; /* Adjust the height as needed */
  background-color: black;
  margin: 0 10px;
  position: sticky;
}